@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.home-pg {
    height: 100vh;
    display: flex;
}

.game-name {
    position: relative;
    text-align: center;
    padding-top: 5vh;
}

.background-img {
    background-image: url(../img/plane1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;    
}

.title-homepage {
  margin-top: 5rem;
  position: relative;
  font-family: 'Dancing Script', sans-serif;
  font-size: 4em;
  
  color: #FAB942;
  font-size: 4em;
  letter-spacing: 4px;
  overflow: hidden;
}

/* Wobble Vertical hover effect- code taken from hover.css */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
             
.test {
    color: rgb(207, 161, 9);
    font-size: 3vh;   
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-2-btn,
.start-btn {    
    margin-top: 5rem;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
    color: rgb(207, 161, 9);
    border: 1px solid #000;
    font-weight: bold;
    font-size: 1.75rem;
    font-family: sans-serif;
    width: 7em;
    text-align: center;    
}

.how-2-btn {
    margin-right: 2rem;
}

.start-btn:hover {
    text-decoration: none;
    color: rgb(207, 161, 9);
}


/*  CSS hover style taken from https://github.com/IanLunn/Hover/blob/master/css/hover.css */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Modal Styling from index.html */

.modal-content {
    text-align: center;
    color: #FAB942;
    background: rgb(40, 46, 138);
}

.modal-title {
    text-align: center;
    margin-left: 150px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #FAB942;
}

.modal-btn {
    color: #FAB942;
    font-weight: bold;
    font-size: 2em;
}

.modal-btn:hover {
    color: #f4ff00;
    text-decoration: none;
}

.how-to-play i {
    color: #FAB942;
}



/* styling for game.html */  
*,
*::before,
*::after {
  box-sizing: border-box;
}

.game-body {
  margin: 20px 0;
  background: rgb(2, 25, 95);
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  background: #FAB942 url('../img/avion-01.jpg') no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  background-color: rgba(101, 170, 249, 0);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: rgb(2, 25, 95) !important;
}

/* Footer Styling */

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(192, 180, 180);
   color: rgb(128, 96, 37);
   text-align: center;
   font-family: sans-serif;
}