/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.home-pg {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.game-name {
    position: relative;
    text-align: center;
    padding-top: 5vh;
}

.background-img {
    background-image: url(../img/plane1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-position: center;    
}

.title-homepage {
  margin-top: 5rem;
  position: relative;
  font-family: 'Dancing Script', sans-serif;
  font-size: 4em;
  color: #FAB942;
  font-size: 4em;
  letter-spacing: 4px;
  overflow: hidden;
}

/* Wobble Vertical hover effect- code taken from hover.css */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
             
.test {
    color: rgb(207, 161, 9);
    font-size: 15px;
}

.flex-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.625rem;  
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;  
}

.how2play,
.start {
    margin-top: 10px;
    padding: 5px;
    background: -o-radial-gradient(#e9e3c2, #b19b81);
    background: radial-gradient(#e9e3c2, #b19b81);
    color: #107ff7;
    border: 1px solid rgb(206, 119, 48);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    font-weight: 600;
    font-size: 1.25rem;
    font-family: "Source Sans Pro";
    text-align: center;  
    width: 140px;
}

.start {
    background: -o-radial-gradient(#e4dba6, #d8a05c);
    background: radial-gradient(#e4dba6, #d8a05c);
    border: 1px solid rgb(192, 103, 30);
    color: #107ff7;
    
}

.start:hover {
    text-decoration: none;
    color: #f4ff00;
}


/* Media Queries */
@media screen and (max-width:420px) {

    .title-homepage {
        font-size: 2rem;
        font-weight: bold;
    }

    .modal-btn {
        font-size: 1em;
    }

    .modal-title {
        margin-left: 2.5rem;
    }

    .how-to-play {
        padding-left: 0;
    }

    #game {
        margin-bottom: 60px;
    }

}

@media screen and (max-width:400px) {
    .title-homepage {
        font-size: 2rem;  
    }
}

@media screen and (max-width: 660px) {
    .title-homepage {
        font-size: 2.65rem;
    }
}

@media screen and (min-width: 660px) and (max-width: 1024px) {
    .title-homepage {
        font-size: 3rem;
        margin-top: auto;
    }

}

@media screen and (min-width: 200px) and (max-width: 1526px) {
        #game {
        margin-bottom: 3.65rem;
    }
    }
  



/*  CSS hover style code taken from https://github.com/IanLunn/Hover/blob/master/css/hover.css */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
     transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
      transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  -o-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
     transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Modal Styling from index.html */
.modal-content {
    text-align: center;
    color: #FAB942; 
    background:rgb(40, 46, 138);     
}

.modal-title {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #FAB942;
}

.modal-btn {
    color: #FAB942;
    font-weight: bold;
    font-size: 2em;
}

.modal-btn:hover {
    color: #f4ff00;
    text-decoration: none;
    text-transform: uppercase;
}

.how-to-play i {
    color: #FAB942;
    padding-left: 0px;
}


/* styling for game.html */  
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.game-body {
  margin: 0;
  background: -o-radial-gradient(rgb(79, 134, 224), rgb(2, 42, 95));
  background: radial-gradient(rgb(79, 134, 224), rgb(2, 42, 95));
  min-height: 100vh;
}

.back-btn {
    margin: 10px 5px 20px; 
}

.back-btn a {
    font-family: 'Source San Pro', sans-serif;
    color: #FAB942;
    text-decoration: none;
}

.replay-btn {
    padding-left: 10px;
}

.title-gamepage {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  font-family: 'Dancing Script', sans-serif;
  color: #FAB942;
  margin: 0 auto;
}

.title-gamepage:hover {
      text-decoration: none;
      color: #FAB942;
}


.game-container {
    color: #FAB942;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.score-panel {
    color: #FAB942;
    margin-right: 35px;
   
}

.score-panel ul {
     list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2px;
}

#game {
    margin-top: 15px;
    
}

.grid {
  max-width: 30rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  position: relative;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin: 5px;
  background-color: transparent;
}

.card,
.back,
.front {
  height: 100px;
  width: 100px;
}

.back,
.front {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
  z-index: 2;
  background: url('../img/avion-01.jpg') no-repeat center center / contain;
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.match .front {
  background-image: none;
  
}
.card, .match {
    border: none;
}

/* Gave over modal styling */

.reset-btn,
.home-btn {
    color: #FAB942;
    font-weight: bold;
}

.reset-btn:hover,
.home-btn:hover {
    text-decoration: none;
}

/* Congratulations Modal styling */

  #starRating {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style-type: none;
  }

/* Footer Styling */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   padding-top: 5px;
   padding-bottom: 5px;
   width: 100%;
   background-color: rgb(192, 180, 180);
   text-align: center;
   font-family: sans-serif;
   font-weight: bold;
}
